.genreSpan {
  background-color: #0C75AD;
  border-radius: 3px;
  margin-right: 2px;
  padding: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri";
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
}

.btn {
  background-color: #F03D26;
  color: #eee;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #e32810;
}

.btn-danger {
  background-color: #DC3545;
}
.btn-danger:hover {
  background-color: #ca2333;
}

#dashboard {
  height: 30px;
  width: 100%;
  background-color: #272727;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  top: 0;
  left: 0;
  z-index: 20;
  color: #fff;
}
#dashboard nav a {
  text-decoration: none;
  color: #fff;
}
#dashboard nav a:hover {
  text-decoration: underline;
}

header {
  padding: 10px;
  height: 60px;
  background-color: #111111;
  position: fixed;
  width: 100%;
  top: 30px;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header #logo img {
  width: 110px;
  display: block;
}

ul {
  list-style-type: none;
}

main {
  padding-bottom: 30px;
  background-color: transparent;
  min-height: 800px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #111;
}
footer #footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}
footer #footer-top img {
  width: 100px;
}
footer #footer-top #socialLinks {
  padding: 25px 0;
}
footer #footer-top #socialLinks i {
  color: #aaa;
  transition: color 0.3s;
  padding: 0 10px;
  font-size: 30px;
  cursor: pointer;
}
footer #footer-top #socialLinks i:hover {
  color: #fff;
}
footer #footer-top ul {
  display: flex;
  flex-direction: row;
}
footer #footer-top ul li a {
  color: #aaa;
  text-decoration: none;
  padding: 0 10px;
}
footer #footer-top ul li a:hover {
  color: #eee;
}
footer #footer-bottom {
  background-color: #1e1e1e;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}
footer #footer-bottom a {
  color: #F03D26;
}

#header-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
#header-nav ul li {
  padding: 0 10px;
}
#header-nav ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}
#header-nav ul li a:hover {
  color: #fff;
}

h3 {
  color: #fff;
  font-family: "Calibri";
  padding: 30px 0;
}
h3 i {
  color: #F03D26;
}

.icon-holder {
  margin-right: 30px;
  display: inline-block;
}
.icon-holder img, .icon-holder span {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}
.icon-holder .ratingSprite {
  display: block;
  margin: auto;
  background: url("../images/sprite.png") no-repeat -40px -1px;
  width: 32px;
  height: 32px;
}

#weirdPlace {
  background-color: transparent;
}
#weirdPlace span {
  padding: 10px;
  display: block;
}
#weirdPlace .page-item a {
  display: block;
  text-decoration: none;
  color: #F03D26;
  padding: 10px;
}
#weirdPlace .page-item a:hover {
  color: #fff;
  background-color: #F03D26;
}
#weirdPlace .active {
  background-color: #F03D26;
  color: #fff;
}
#weirdPlace .disabled, #weirdPlace .active {
  cursor: default;
}

.browseRating {
  margin-left: 10px;
  align-items: center;
  height: 40px;
  background-color: #000;
  color: #F03D26;
  display: flex;
  flex-direction: row;
  border-radius: 0px;
  overflow: hidden;
}
.browseRating .chosenRating {
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.browseRating .ratingControls {
  display: flex;
  flex-direction: row;
}
.browseRating .ratingControls div {
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.browseRating .ratingControls div:hover {
  color: #fff;
}

#filterBtn {
  margin-left: 10px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #F03D26;
}

.mySelect {
  border-radius: 0px;
  margin-right: 10px;
  height: 40px;
  width: 200px;
  position: relative;
  background-color: #000;
  color: #F03D26;
}
.mySelect .mySelectBtn {
  height: 40px;
  padding: 0 10px;
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mySelect .mySelectOptions {
  display: none;
  width: inherit;
  z-index: 10;
  background-color: #000;
  position: absolute;
  top: 40px;
  left: 0;
}
.mySelect .mySelectOptions .mySelectOption {
  padding: 10px;
}
.mySelect .mySelectOptions .mySelectOption:hover {
  color: #fff;
}

.browseButtons {
  display: flex;
  overflow: hidden;
  border-radius: 0px;
  flex-direction: row;
}
.browseButtons .sortDirectionBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #000;
  color: #F03D26;
}
.browseButtons .sortDirectionBtn:hover {
  color: #fff;
}

#browseFilters {
  padding: 30px 0;
  width: 100%;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bubble {
  position: relative;
  padding: 10px;
  border-radius: 2px;
  margin-top: 20px;
  max-width: 100%;
}

.error {
  color: #BD2D3B;
  margin-bottom: 10px;
}

.errorBubble {
  background-color: #EFA2AA;
  color: #BD2D3B;
  border: 1px solid #dc3545;
}

.infoBubble {
  background-color: #D1ECF1;
  color: #0C75AD;
  border: 1px solid #0C75AD;
}

.authForm {
  margin-top: 60px;
  background-color: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.authForm a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #F03D26;
}
.authForm a:hover {
  text-decoration: underline;
}
.authForm h1 {
  color: #313131;
  margin-bottom: 20px;
  text-align: center;
}
.authForm .inputHolder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
  color: #313131;
}
.authForm .inputHolder input {
  font-family: "Calibri";
  font-size: 15px;
  outline: none;
  padding: 10px;
  width: 300px;
  border: none;
  background-color: transparent;
  color: #888;
}
.authForm .inputHolder .icon-holder {
  margin: 0;
  display: inline-block;
  width: 20px;
}
.authForm .inputHolder .icon-holder i {
  color: #888888;
}

.panelTop {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  color: #fff;
}

#movie-data-container {
  margin: 60px 0;
  max-width: 600px;
  padding: 20px;
}
#movie-data-container #movie-data-top {
  justify-content: center;
  display: grid;
  grid-template-columns: 236px 236px;
  column-gap: 20px;
  row-gap: 20px;
}
#movie-data-container #movie-data-top #movie-data-poster {
  border: 6px solid #fff;
  border-radius: 2px;
  overflow: hidden;
  height: 352px;
}
#movie-data-container #movie-data-top #movie-data-poster img {
  width: 230px;
  height: 346px;
  display: block;
}
#movie-data-container #movie-data-top #movie-data-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
#movie-data-container #movie-data-top #movie-data-details .movie-data-title h1 {
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 25px;
}
#movie-data-container #movie-data-top #movie-data-details ul {
  list-style-type: none;
}
#movie-data-container #movie-data-top #movie-data-details ul li {
  color: #fff;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
}
#movie-data-container #movie-data-top #movie-data-details .btn {
  padding: 4px;
  width: 100px;
  margin-top: 20px;
}
#movie-data-container #movie-data-top #movie-data-details .visit-imdb-btn {
  color: #000;
  background-color: #F5C518;
}
#movie-data-container #movie-data-top #movie-data-details .visit-imdb-btn:hover {
  background-color: #d6a909;
}
#movie-data-container #movie-review {
  margin-top: 40px;
}
#movie-data-container #movie-review p {
  font-size: 17px;
  color: #B1B6B8;
  text-align: justify;
}

@media only screen and (max-width: 644px) {
  #movie-data-container #movie-data-top {
    grid-template-columns: 236px;
  }
}
#browseSubmit {
  background-color: #000;
  color: #F03D26;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: 10px;
}

@media only screen and (max-width: 710px) {
  #browseFilters {
    flex-direction: column;
    align-items: center;
  }
  #browseFilters div {
    margin: 0;
  }
  #browseFilters .browseButtons, #browseFilters .browseRating {
    width: 200px;
    justify-content: space-evenly;
    background-color: #000;
  }
  #browseFilters button {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;
  }
}
#burger {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#drawer {
  display: none;
  width: 100%;
}
#drawer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#drawer ul li a {
  background-color: red;
  padding: 10px 0;
  display: block;
  background-color: #111;
  border-bottom: 1px solid #aaa;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 440px) {
  #header-nav {
    display: none;
  }

  #burger {
    display: block;
  }

  footer #footer-top ul {
    flex-direction: column;
    align-items: center;
  }
}
#movie-add-comment-form {
  margin-top: 40px;
}
#movie-add-comment-form form textarea {
  width: 100%;
  height: 100px;
  outline-color: #F03D26;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #777;
  font-size: 17px;
  color: #B1B6B8;
}
#movie-add-comment-form form #submit-comment-btn-holder {
  height: 40px;
  display: block;
}
#movie-add-comment-form form #submit-comment-btn-holder .btn {
  float: right;
}

#author {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#author h1 {
  color: #fff;
  font-size: 20px;
}
#author #author-img {
  margin: 40px 0;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
#author #author-img img {
  width: 100%;
}
#author #author-text {
  max-width: 600px;
}
#author #author-text p {
  text-align: justify;
  color: #B1B6B8;
}
#author #author-social {
  margin-top: 20px;
}
#author #author-social i {
  margin: 0 5px;
  font-size: 25px;
  transition: color 0.3s;
  color: #B1B6B8;
}
#author #author-social i:hover {
  color: #fff;
}

#contact-div h3 {
  text-align: center;
}

#contact-form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

#contact-form input {
  color: #aaa;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #777;
  border-left: 1px solid transparent;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  background-color: transparent;
}
#contact-form input:focus {
  background-color: rgba(255, 255, 255, 0.03);
}

textarea {
  resize: none;
  height: 150px;
  margin-bottom: 20px;
  color: #aaa;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #777;
  border-left: 1px solid transparent;
  transition: background-color 0.3s;
  padding: 10px;
  font-size: 15px;
  outline: none;
}
textarea:focus {
  background-color: rgba(255, 255, 255, 0.03);
}

#movie-comments {
  margin-top: 20px;
  color: #B1B6B8;
}
#movie-comments .comment {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}
#movie-comments .comment .comment-username {
  color: #fff;
}
#movie-comments .comment .comment-username i {
  color: #F03D26;
}
#movie-comments .comment .comment-content {
  padding: 10px 0;
  color: #7f8688;
}
#movie-comments .comment .comment-bottom {
  text-align: right;
  font-size: 13px;
}

.testRow {
  padding: 0 20px;
  margin: auto;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.card {
  max-width: 210px;
  color: #fff;
  cursor: pointer;
}
.card:hover .image {
  border-color: #F03D26;
}
.card:hover .image .data {
  opacity: 1;
}
.card .thumbnailTitle {
  max-width: 210px;
  overflow-x: hidden;
  padding: 2px;
  font-weight: bold;
}
.card .thumbnailYear {
  color: gray;
  padding-left: 2px;
}
.card .image {
  border-radius: 3px;
  transition: border-color 0.3s;
  position: relative;
  border: 5px solid #fff;
}
.card .image img {
  width: 100%;
  display: block;
}
.card .image .data {
  padding: 40px;
  transition: opacity 0.3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card .image .data .thumbnailRating {
  font-size: 20px;
}
.card .image .data .thumbnailRating span {
  background-color: #F5C518;
  padding: 2px;
  color: #000;
  font-family: Impact;
  font-size: 18px;
}
.card .image .data ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .image .data button {
  padding: 5px;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  transition: background-color 0.3s;
  width: 60px;
}
.card .image .data button:hover {
  background-color: #F03D26;
}

@media only screen and (max-width: 600px) {
  .testRow {
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
  }
}
#adminMovieInfo {
  width: 300px;
}
#adminMovieInfo img {
  width: 210px;
  height: 300px;
}
#adminMovieInfo #review {
  color: #888;
  text-align: justify;
}
#adminMovieInfo h3 {
  color: #333;
  margin-bottom: 10px;
  padding: 0;
}

#fancyCards {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
  justify-content: space-evenly;
}
#fancyCards .fancyCard {
  width: 200px;
  background-color: #007AF3;
}
#fancyCards .fancyCard .fancyCardTop {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 40px;
}
#fancyCards .fancyCard .fancyCardBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#fancyCards .fancyCard .fancyCardBottom {
  height: 30px;
  background-color: #0060c0;
}
#fancyCards .fancyCard:nth-child(2) {
  background-color: #F8BC04;
}
#fancyCards .fancyCard:nth-child(2) .fancyCardBottom {
  height: 30px;
  background-color: #c69603;
}
#fancyCards .fancyCard:nth-child(3) {
  background-color: #26A342;
}
#fancyCards .fancyCard:nth-child(3) .fancyCardBottom {
  height: 30px;
  background-color: #1c7a31;
}
#fancyCards .fancyCard:nth-child(4) {
  background-color: #D83543;
}
#fancyCards .fancyCard:nth-child(4) .fancyCardBottom {
  height: 30px;
  background-color: #b72330;
}

input {
  color: #333;
  padding: 7px;
  font-size: 16px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 2px;
}

#userSearch {
  margin-bottom: 0;
  width: 200px;
}

#createMovieBtn {
  display: inline-block;
  text-decoration: none;
  width: auto;
}

#adminWrapper {
  background-color: #EEEEEE;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-height: 1000px;
}
#adminWrapper .panelTop .icon-holder {
  margin-right: 10px;
}
#adminWrapper #adminNav {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  min-height: 1000px;
  margin-right: 10px;
}
#adminWrapper #adminNav .panelTop {
  background-color: #026BA1;
}
#adminWrapper #adminNav ul li a {
  text-decoration: none;
  transition: background-color 0.3s;
  color: #3B4044;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 250px;
}
#adminWrapper #adminNav ul li a .icon-holder {
  width: 30px;
  margin: 0;
}
#adminWrapper #adminNav ul li a:hover {
  background-color: #eee;
}
#adminWrapper #adminPanel {
  color: #333;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 5px;
  overflow: hidden;
}
#adminWrapper #adminPanel .panelTop {
  background-color: #3B4044;
}
#adminWrapper #adminPanel #panelContent {
  width: 100%;
  padding: 20px;
}
#adminWrapper #adminPanel #panelContent table {
  margin: 20px 0;
}
#adminWrapper form {
  display: flex;
  flex-direction: column;
}
#adminWrapper form h1 {
  margin-bottom: 20px;
}
#adminWrapper form input, #adminWrapper form textarea {
  color: #333;
  margin-bottom: 15px;
  padding: 7px;
  font-size: 16px;
  outline: none;
  border: 1px solid #aaa;
}
#adminWrapper form label {
  margin-bottom: 5px;
}

td {
  text-align: left;
}

.profileCard {
  margin-top: 60px;
  display: flex;
}
.profileCard .left {
  background-color: #fff;
}
.profileCard .left img {
  width: 200px;
}

.coolForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  padding: 20px;
}
.coolForm input {
  margin-top: 10px;
}
.coolForm label {
  margin-top: 20px;
}
.coolForm .firstLabel {
  margin-top: 0;
}

.disabled {
  background-color: #D1D2D3;
}

#movieGrid {
  padding: 0 20px;
  margin: 40px auto;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

@media only screen and (max-width: 760px) {
  #movieGrid {
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
  }
}
@media only screen and (max-width: 590px) {
  #movieGrid {
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
  }
}
@media only screen and (max-width: 410px) {
  #movieGrid {
    grid-template-columns: repeat(1, minmax(5rem, 1fr));
  }
}
.flex-neutralizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-flex;
  border-radius: 4px;
  margin: auto;
}
.pagination div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-right: 1px solid #ccc;
}
.pagination div:hover {
  background-color: #eee;
}
.pagination div:last-child {
  border: none;
}

table {
  width: 100%;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  border-collapse: collapse;
}
table thead {
  background-color: #343A40;
  color: #eee;
}
table thead th {
  padding: 20px;
  font-size: 17px;
  text-align: left;
}
table tr {
  border-bottom: 1px solid #C0C2C4;
}
table tr td {
  padding: 20px;
}
table tr td img {
  width: 60px;
}
table tr td .deleteMovieBtn {
  color: firebrick;
  cursor: pointer;
}
table tr td .deleteMovieBtn:hover {
  color: #871a1a;
}
table tr td .editMovieBtn {
  color: teal;
}
table tr td .editMovieBtn:hover {
  color: #004d4d;
}
table tr td .movieInfoBtn {
  color: #026BA1;
}
table tr td .movieInfoBtn:hover {
  color: #014a6f;
}
table tr td p {
  max-width: 350px;
  margin: auto;
  text-align: justify;
  color: #888;
}

.infoBtn {
  color: #026BA1;
}
.infoBtn:hover {
  color: #014a6f;
}

.editBtn {
  color: teal;
}
.editBtn:hover {
  color: #004d4d;
}

.deleteBtn {
  color: firebrick;
  cursor: pointer;
}
.deleteBtn:hover {
  color: #871a1a;
}

.errorContainer .errorCode {
  color: #fff;
  font-size: 100px;
}
.errorContainer p {
  color: #fff;
  font-size: 60px;
}

/*# sourceMappingURL=app.css.map */
